body {
    margin: 0;
}

.container {
    width: 80vw;
    min-height: 400px;
    height: 100vh;
    margin: 0 auto;
    padding: 0;
    background-color: #313139;
    background: -moz-linear-gradient(0deg, rgba(51,38,37,1) 0%, rgba(51,38,37,1) 7%, rgba(48,46,59,1) 86%, rgba(48,46,59,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(51,38,37,1)), color-stop(7%, rgba(51,38,37,1)), color-stop(86%, rgba(48,46,59,1)), color-stop(100%, rgba(48,46,59,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(0deg, rgba(51,38,37,1) 0%, rgba(51,38,37,1) 7%, rgba(48,46,59,1) 86%, rgba(48,46,59,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(0deg, rgba(51,38,37,1) 0%, rgba(51,38,37,1) 7%, rgba(48,46,59,1) 86%, rgba(48,46,59,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(0deg, rgba(51,38,37,1) 0%, rgba(51,38,37,1) 7%, rgba(48,46,59,1) 86%, rgba(48,46,59,1) 100%); /* ie10+ */
    background: linear-gradient(90deg, rgba(51,38,37,1) 0%, rgba(51,38,37,1) 7%, rgba(48,46,59,1) 86%, rgba(48,46,59,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#332625', endColorstr='#302E3B',GradientType=1 ); /* ie6-9 */
    display: flex;
    justify-content: center;
    font-family: 'IBM Plex Mono', monospace;
    color: #fff1a4;
    position: relative;
}

h1 {
    margin-bottom: 10px;
}

canvas {
    width: auto;
    min-height: 400px;
    height: 80vh;
    border: 20px solid #fff1a4;
    box-shadow: 10px 10px 0 #736003;
    margin-bottom: 20px;
}

button {
    font-family: 'IBM Plex Mono', monospace;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fba19c;
    box-shadow: 5px 5px 0 #ea5b33;
    font-size: 24px;
    border: none;
    color: white;
}

.info {
    position: relative;
}

.instructions {
    position: absolute;
    right: 0;
}